<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700" rel="stylesheet" type="text/css">
		<link href="styles.css" rel="stylesheet" type="text/css">
		<link href="utils.css" rel="stylesheet" type="text/css">
		<link href="typography.css" rel="stylesheet" type="text/css">
		<link rel="manifest" href="manifest.json">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="node_modules/underscore/underscore.js"></script>
		<script src="backbone.js"></script>
		<script src="backbone.localStorage.js"></script>

		<link rel="stylesheet" href="bower_components/scooch/src/scooch.css">
		<link rel="stylesheet" href="bower_components/scooch/src/scooch-style.css">
		<script src="bower_components/scooch/src/scooch.js"></script>

		<script src="default.js"></script>
		<script src="backboneApp.js"></script>
		<script src="phrases.js"></script>
		<script src="account.js"></script>
		<script src="map.js"></script>
		<script src="add.js"></script>
		<script src="router.js"></script>
		<title>Travelling Turnip Prototype</title>
	</head>
	<body>
		<header></header>

		<div class="c-content">
			<div id="todoapp">
				<div id="main"></div>
			</div>
		</div>

		<footer>
			<nav class="c-main-nav">
				<ul>
					<li class="c-nav-icon c--active c--meals">
						<a href="#meals">
							<img src="img/icon_bowl.png" alt="Meals" class="c-icon">
						</a>
					</li>
					<li class="c-nav-icon c--restaurants">
						<a href="#map">
							<img src="img/icon_map.png" alt="Restaurants" class="c-icon">
						</a>
					</li>
					<li class="c-nav-icon c--add">
						<a>
							<img src="img/icon_plus.png" alt="Add" class="c-icon">
						</a>
					</li>
					<li class="c-nav-icon c--phrasebook">
						<a href="#phrases">
							<img src="img/icon_phrases.png" alt="Phrasebook" class="c-icon">
						</a>
					</li>
					<li class="c-nav-icon c--my-food">
						<a href="#saved">
							<img src="img/icon_grey-heart.png" alt="My Food" class="c-icon">
						</a>
					</li>
				</ul>
			</nav>
		</footer>

		<div class="c-onboarding"></div>

		<div class="c-welcome"></div>


		<!-- Just templates from here on out -->

		<script type="text/template" id="onboarding-template">
			<div class="m-scooch">
				<div class="m-scooch-inner">
					<div class="m-item m-active" style="background-image: url(img/onboardinga.jpg)">
			    		<img src="img/onboarding_bottom1.png" class="u-max-full-width">
			    		<a href="#welcome" class="c-onboarding__skip"></a>
				    </div>
				    <div class="m-item" style="background-image: url(img/onboardingb.jpg)">
				      	<img src="img/onboarding_bottom2.png" class="u-max-full-width">
				      	<a href="#welcome" class="c-onboarding__skip"></a>
				    </div>
				    <div class="m-item" style="background-image: url(img/onboardingc.jpg)">
				      	<img src="img/onboarding_bottom3.png" class="u-max-full-width">
				      	<a href="#welcome" class="c-onboarding__skip"></a>
				    </div>
				    <div class="m-item" style="background-image: url(img/onboardingd.jpg)">
				      	<img src="img/onboarding_bottom4.png" class="u-max-full-width">
				      	<a href="#welcome" class="c-onboarding__skip"></a>
				    </div>
				</div>
			</div>
		</script>

		<script type="text/template" id="welcome-template">
			<div class="c-welcome__wrapper">
			<img src="img/welcome-turnip.png" class="u-max-full-width" alt="Welcome to the Travelling Turnip">

			<form>
				<input type="text" class="c-field u-margin-top-md" placeholder="Username">
				<input type="password" class="c-field" placeholder="Password">

				<div class="c-button-container c--right u-margin-top-md">
					<input type="submit" class="c-button c--secondary" value="Log In">
				</div>
			</form>

			<div class="u-text-center u-margin-top-lg">
				<span class="c-blue-text">Not a member?</span>
				<a class="c-button c--primary u-margin-top-md" href="#create-account">Create an account</a>
				<div class="u-margin-top-lg">
					<a href="#meals" class="c-button">Continue as guest</a>
				</div>
			</div>
			</div>
		</script>

		<script type="text/template" id="header-location-template">
			<div class="c-page-title">
				<div class="c-page-title__label">Current Location</div>
				<div class="c-page-title__location">Rome, Italy</div>
			</div>

			<nav class="c-header-icons">
				<ul>
					<li><a href="#account"><img src="img/icon_user.png" alt="User Settings" class="c-icon"></a></li>
					<li><a href="#settings"><img src="img/icon_settings.png" alt="Settings" class="c-icon"></a></li>
					<li><img src="img/icon_search.png" alt="search" class="c-icon"></li>
				</ul>
			</nav>
		</script>

		<script type="text/template" id="header-back-template">
			<div class="c-back-header">
				<button class="c-icon-button js-back"><img src="img/icon_back.png" class="c-icon"></button>
				<div class="c-page-title"><%- title %></div>
			</div>
		</script>

		<script type="text/template" id="header-transparent-template">
			<div class="c-back-header">
				<button class="c-icon-button js-back"><img src="img/icon_back.png" class="c-icon"></button>
			</div>
		</script>

		<script type="text/template" id="header-saved-template">
			<div class="c-page-title">
				MY FOOD
			</div>
			<nav class="c-header-icons">
				<ul>
					<li><a href="#account"><img src="img/icon_user.png" alt="User Settings" class="c-icon"></a></li>
					<li><a href="#settings"><img src="img/icon_settings.png" alt="Settings" class="c-icon"></a></li>
					<li><img src="img/icon_search.png" alt="search" class="c-icon"></li>
				</ul>
			</nav>
			<nav class="c-saved-nav">
				<ul>
					<li class="c--active"><a href="#saved/meals">Meals</a></li>
					<li><a href="#saved/restaurants">Restaurants</a></li>
					<li><a href="#saved/recipes">Recipes</a></li>
				</ul>
			</nav>
		</script>

		<script type="text/template" id="header-phrases-template">
			<div class="c-page-title">
				Phrasebook
			</div>

			<nav class="c-header-icons">
				<ul>
					<li><a href="#account"><img src="img/icon_user.png" alt="User Settings" class="c-icon"></a></li>
					<li><a href="#settings"><img src="img/icon_settings.png" alt="Settings" class="c-icon"></a></li>
					<li><img src="img/icon_search.png" alt="search" class="c-icon"></li>
				</ul>
			</nav>
		</script>

		<script type="text/template" id="header-phrases-create-template">
			<div class="c-back-header">
				<button class="c-icon-button js-back"><img src="img/icon_back.png" class="c-icon"></button>
				<div class="c-page-title">Phrasebook</div>
			</div>
		</script>

		<script type="text/template" id="meal-template">
			<div class="c-meal__image-container" style="background-image: url(img/meals<%- id %>.png);">
				<ul class="c-meal__icons">
					<% if (restrictions.veggie) { %>
						<li class="c-meal__icon"><img src="img/icon_veggie-inactive.png" alt="Vegetarian" class="u-max-full-width"></li>
					<% } %>
					<% if (restrictions.vegan) { %>
						<li class="c-meal__icon"><img src="img/icon_vegan-inactive.png" alt="Vegan" class="u-max-full-width"></li>
					<% } %>
					<% if (restrictions.gf) { %>
						<li class="c-meal__icon"><img src="img/icon_gf-inactive.png" alt="GF" class="u-max-full-width"></li>
					<% } %>
				</ul>
			</div>
			<div class="c-meal__content">
				<h2 class="c-meal__title"><%- title %></h2>
				<div class="c-meal__quick-info">
					Served Nearby &bull; Recipes Available
				</div>
				<p class="c-meal__description">
					<%- desc %>
				</p>
			
				<div class="c-meal__actions">
					<button class="js-toggle-saved"><img src="img/icon_empty-heart.png" class="c-icon c-heart"></button>
					<div class="c-button-container">
						<a href="#meal/<%- id %>" class="c-button">About</a>
						<a class="c-button">Restaurants</a>
						<a href="#meal/<%- id %>/recipes" class="c-button">Recipes</a>
					</div>
				</div>
			</div>
		</script>

		<script type="text/template" id="meal-detail-template">
			<div class="c-meal__image-container" style="background-image: url(img/meals<%- id %>.png);">
				<h2 class="c-meal__detail-title"><%- title %></h2>
				<ul class="c-meal__icons">
					<% if (restrictions.veggie) { %>
						<li class="c-meal__icon"><img src="img/icon_veggie-inactive.png" alt="Vegetarian" class="u-max-full-width"></li>
					<% } %>
					<% if (restrictions.vegan) { %>
						<li class="c-meal__icon"><img src="img/icon_vegan-inactive.png" alt="Vegan" class="u-max-full-width"></li>
					<% } %>
					<% if (restrictions.gf) { %>
						<li class="c-meal__icon"><img src="img/icon_gf-inactive.png" alt="GF" class="u-max-full-width"></li>
					<% } %>
				</ul>
			</div>
			<div class="c-meal__actions c--dark">
				<div class="c-button-container">
					<a class="c-button c--light">Restaurants</a>
					<a href="#meal/<%- id %>/recipes" class="c-button c--light">Recipes</a>
				</div>
			</div>
			<div class="c-meal__content">
				<h3 class="c-meal__title">About</h3>
				<p class="c-meal__description c--compressed">
					<%- about %>
				</p>

				<h3 class="c-meal__title">History</h3>
				<p class="c-meal__description c--compressed">
					<%- history %>
				</p>
			</div>
		</script>

		<script type="text/template" id="recipe-template">
			<div class="c-recipe__list-view">
				<h2 class="c-recipe__title"><%- title %></h2>
				<div class="c-recipe__excerpt"><%- excerpt %></div>
			</div>
		</script>

		<script type="text/template" id="recipe-detail-template">
			<div class="c-meal__image-container" style="background-image: url(http://placehold.it/411x150);">
				<ul class="c-meal__icons">
					<% if (restrictions.veggie) { %>
						<li class="c-meal__icon"><img src="img/icon_veggie-inactive.png" alt="Vegetarian" class="u-max-full-width"></li>
					<% } %>
					<% if (restrictions.vegan) { %>
						<li class="c-meal__icon"><img src="img/icon_vegan-inactive.png" alt="Vegan" class="u-max-full-width"></li>
					<% } %>
					<% if (restrictions.gf) { %>
						<li class="c-meal__icon"><img src="img/icon_gf-inactive.png" alt="GF" class="u-max-full-width"></li>
					<% } %>
				</ul>
			</div>
			<div class="c-recipe__content">
				<div class="c-arrange c--space-between c--center">
					<div class="c-recipe__times t-grey t--upper">
						<div>Prep time: <%- prepTime %></div>
						<div>Cook time: <%- cookTime %></div>
					</div>
					<button class="js-toggle-saved"><img src="img/icon_empty-heart.png" class="c-icon"></button>
				</div>

				<h2 class="c-recipe__title u-margin-top-lg">Ingredients</h2>

				<% _.each(ingredients, function(ingredient){ %>
					<div class="c-recipe__ingredient u-margin-top-md">
						<div class="t-body"><%- ingredient.eng %></div>
						<div class="t-grey"><%- ingredient.ital %></div>
					</div>
				<% }); %>
			</div>
		</script>

		<script type="text/template" id="account-logged-out-template">
			<div class="u-full-padding">
				<div class="c-arrange c--center">
					<img src="img/icon_guest.png" alt="Logged in as Guest">
					<div class="u-margin-left-lg">
						<div class="t-grey t--upper">Welcome</div>
						<div class="t-title">Guest</div>
					</div>
				</div>

				<hr>

				<form class="js-login-form">
					<input type="text" class="c-field u-margin-top-md" placeholder="Username">
					<input type="password" class="c-field" placeholder="Password">

					<div class="c-button-container c--right u-margin-top-md">
						<input type="submit" class="c-button c--secondary" value="Log In">
					</div>
				</form>

				<div class="u-text-center u-margin-top-lg">
					<span class="c-blue-text">Not a member?</span>
					<a class="c-button c--primary u-margin-top-md">Create an account</a>
				</div>
			</div>
		</script>

		<script type="text/template" id="account-logged-in-template">
			<div class="u-full-padding">
				<div class="c-arrange c--center">
					<img src="img/icon_guest.png" alt="Logged in as Guest">
					<div class="u-margin-left-lg">
						<div class="t-grey t--upper">Logged in as</div>
						<div class="t-title"><%- name %></div>
					</div>
				</div>

				<hr>

				<div class="c-dietary-restriction__container js-account-dietary-restrictions">
					<h2 class="t-title">Dietary Restrictions</h2>

					<div class="c-arrange c--space-between">
						<div class="c-dietary-restriction js-veggie-toggle">
							<img class="c-icon" src="img/icon_veggie-inactive.png">
							<div class="t-grey t--upper">Vegetarian</div>
						</div>
						<div class="c-dietary-restriction js-vegan-toggle">
							<img class="c-icon" src="img/icon_vegan-inactive.png">
							<div class="t-grey t--upper">Vegan</div>
						</div>
						<div class="c-dietary-restriction js-gf-toggle">
							<img class="c-icon" src="img/icon_gf-inactive.png">
							<div class="t-grey t--upper">Gluten Free</div>
						</div>
					</div>
				</div>

				<div class="u-text-center u-margin-top-xlg">
					<a class="c-button c--primary js-logout">Log out</a>
				</div>
			</div>
		</script>

		<script type="text/template" id="phrase-list-template">
			<div class="js-phrases-view c-phrases-view">
				<a href="#phrases/new">
					<img src="img/button_translate.png" alt="Translate a new phrase" class="u-max-full-width u-margin-bottom-md">
				</a>
				<div class="js-phrases-list"></div>
			</div>
		</script>

		<script type="text/template" id="phrase-template">
			<div class="c-phrase">
				<div class="c-phrase__title">
					<% _.each(phrases, function(phrase){ %>
						<%- phrase.english %>
					<% }); %>
				</div>

				<div class="c-phrase__subtitle">
					<% _.each(phrases, function(phrase){ %>
						<%- phrase.italian %>
					<% }); %>
				</div>
			</div>
		</script>

		<script type="text/template" id="phrases-new-template">
			<div class="js-phrases-view c-phrases-view">
				<span class="c-recipe__title">What do you want to say?</span>

				<form class="js-phrases-form" class="u-margin-top-md">
					<% _.each(phrases, function(phrase, index){ %>
						<label class="c-checkbox-field">
							<span class="c-checkbox-label"><%- phrase.english %></span>
							<input type="checkbox" phrase-index="<%- index %>">
							<span class="c-checkbox-icon"></span>
						</label>
					<% }); %>

					<div class="u-text-center u-margin-top-md">
						<input type="submit" class="c-button c--primary" value="Create phrase">
					</div>
				</form>
			</div>
		</script>

		<script type="text/template" id="settings-template">
			<div class="c-settings">
				<h2 class="t-title">Location</h2>

				<label class="c-checkbox-field">
					<span class="c-checkbox-label">Enable GPS</span>
					<input type="checkbox" name="gps">
					<span class="c-checkbox-icon"></span>
				</label>

				<label class="c-checkbox-field u-divider-bottom">
					<span class="c-checkbox-label">Enable Local Recommendations</span>
					<input type="checkbox" name="local">
					<span class="c-checkbox-icon"></span>
				</label>

				<hr>

				<h2 class="t-title">Notification</h2>

				<label class="c-checkbox-field">
					<span class="c-checkbox-label">Notify me about new restaurants</span>
					<input type="checkbox" name="restos">
					<span class="c-checkbox-icon"></span>
				</label>

				<label class="c-checkbox-field">
					<span class="c-checkbox-label">Notify me when someone favourites my recipe</span>
					<input type="checkbox" name="faved">
					<span class="c-checkbox-icon"></span>
				</label>
			</div>
		</script>

		<script type="text/template" id="map-template">
			<div class="c-map">
				<img src="img/map.png">
				<a href="#restaurants/1" class="c-marker js-resto1">
					<img src="img/icon_map-marker.png">
				</a>
				<a href="#restaurants/2" class="c-marker js-resto2">
					<img src="img/icon_map-marker.png">
				</a>
			</div>
		</script>

		<script type="text/template" id="restaurant-template">
			<div class="c-meal__image-container" style="background-image: url(img/restaurant<%- id %>.png);">
				<h2 class="c-meal__detail-title"><%- name %></h2>
				<ul class="c-meal__icons">
					<% if (restrictions.veggie) { %>
						<li class="c-meal__icon"><img src="img/icon_veggie-inactive.png" alt="Vegetarian" class="u-max-full-width"></li>
					<% } %>
					<% if (restrictions.vegan) { %>
						<li class="c-meal__icon"><img src="img/icon_vegan-inactive.png" alt="Vegan" class="u-max-full-width"></li>
					<% } %>
					<% if (restrictions.gf) { %>
						<li class="c-meal__icon"><img src="img/icon_gf-inactive.png" alt="GF" class="u-max-full-width"></li>
					<% } %>
				</ul>
			</div>
			<div class="c-restaurant__content u-full-padding">
				<div class="c-arrange c--space-between c--center">
					<img src="img/stars-<%- rating %>.png">
					<button class="js-toggle-saved"><img src="img/icon_empty-heart.png" class="c-icon c-heart"></button>
				</div>

				<div class="t-body u-margin-top-lg"><%- desc %></div>

				<div class="t-grey t--upper u-margin-top-lg">
					<%- site %> <%- phone %>
					<div><%- hours %></div>
				</div>

				<a href="https://www.google.ca/maps" class="c-button c--primary u-margin-top-lg">Directions</a>

				<hr class="u-margin-top-lg">

				<h3 class="t-title t-h3">
					Meals you have tried
					<img src="img/icon_add-resto-meal.png">
				</h3>

				<h3 class="t-title t-h3 u-margin-top-lg">
					Meals Available
					<img src="img/icon_add-resto-meal.png">
				</h3>
				<% _.each(availableMeals, function(availableMeal, index){ %>
					<div class="t-grey"><%- availableMeal %></div>
				<% }); %>
			</div>
		</script>

		<script type="text/template" id="add-meal-template">
			<div class="u-full-padding">
				<form class="js-add-meal-form">
					<input type="text" class="c-field" placeholder="Meal Name" name="title">
					<textarea class="c-field" placeholder="About" name="about"></textarea>
					<textarea class="c-field" placeholder="History" name="history"></textarea>

					<div class="c-dietary-restriction__container js-meal-dietary-restrictions">
						<h2 class="t-title">Dietary Restrictions</h2>

						<div class="c-arrange c--space-between">
							<div class="c-dietary-restriction js-veggie-toggle">
								<img class="c-icon" src="img/icon_veggie-inactive.png">
								<div class="t-grey t--upper">Vegetarian</div>
							</div>
							<div class="c-dietary-restriction js-vegan-toggle">
								<img class="c-icon" src="img/icon_vegan-inactive.png">
								<div class="t-grey t--upper">Vegan</div>
							</div>
							<div class="c-dietary-restriction js-gf-toggle">
								<img class="c-icon" src="img/icon_gf-inactive.png">
								<div class="t-grey t--upper">Gluten Free</div>
							</div>
						</div>
					</div>

					<h2 class="t-title u-margin-top-lg">Photos</h2>
					<img src="img/add-photo.png" alt="Add a photo">

					<div class="u-text-center u-margin-top-lg">
						<input type="submit" class="c-button c--primary" value="Add Meal">
					</div>
				</form>
			</div>
		</script>
	</body>
</html>