* {
	box-sizing: border-box;
}

html.c--taupe {
	background-color: #EEEDE8;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

header {
	position: fixed;
	top: 0;

	display: flex;
	align-items: center;
	width: 100%;
	height: 60px;

	background-color: #335B60;
	color: #FCFCFC;
	box-shadow: 0px 4px 7px rgba(35, 31, 32, 0.2);

	z-index: 1;
}

header.c--extended + .c-content{
	margin-top: 100px;
}

header.c--extended-plus + .c-content {
	margin-top: 120px;
}

.c-header-icons {
	position: absolute;
	right: 0;
	top: 0;

	height: 100%;
}

.c-header-icons ul {
	display: flex;
	align-items: center;

	height: 100%;
}

.c-saved-nav {
	position: absolute;
	top: 100%;
	left :0;

	width: 100%;
	height: 40px;

	background-color: #E37453;
}

.c-saved-nav ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}

.c-saved-nav li {
	padding: 0 5px;

	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 14px;

	border-bottom: 2px solid transparent;
}

.c-saved-nav li.c--active {
	border-bottom: 2px solid white;
}

.c-saved-nav a {
	padding: 10px;

	color: white;
}

.c-saved-nav a:visited {
	color: white;
}

.c-main-nav {
	height: 100%;
}

.c-main-nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 100%;
}

.c-nav-icon {
	position: relative;

	width: 100%;
	height: 100%;

	float: none;

	border-bottom: 5px solid transparent;

	transition: 0.5s;
}

.c-nav-icon.c--active {
	border-bottom: 5px solid #E37453;
}

.c-nav-icon img {
	opacity: 0.65;

	transition: 0.75s;
}

.c-nav-icon.c--active img:not(.c-nav-icon__full-heart) {
	opacity: 1;
}

.c-nav-icon .c-nav-icon__full-heart {
	position: absolute;
	top: 0;

	opacity: 0;
}

.c-nav-icon.c--flash .c-nav-icon__empty-heart {
	opacity: 0;
}

.c-nav-icon.c--flash .c-nav-icon__full-heart {
	opacity: 1;
}

.c-nav-icon a {
	position: absolute;
	top: calc(50% + 3px);
	left: 50%;
	transform: translate(-50%, -50%);

	display: block;
}

.c-icon {
	transform: scale(0.5);
}

footer {
	position: fixed;
	bottom: 0;

	width: 100%;
	height: 50px;

	background-color: #2C2C2C;
	color: #FCFCFC;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: auto; /* Create BFC */
}

ul li {
	float: left;
}

a {
	text-decoration: none;
}

button, [type=submit] {
	padding: 0;

	background: none;
	border: none;
	outline: none;

	font-family: 'Open Sans', sans-serif;
}

button:active {
	outline: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #939FA6;
    margin: 1em 0;
    padding: 0;
}

.c-field {
	width: 100%;
	height: 40px;
	padding: 10px;

	border: none;
	background-color: #EEEDE8;

	color: #335B60;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}

.c-field + .c-field {
	margin-top: 10px;
}

.c-field + .c-field.c--inline {
	margin-top: 0;
	margin-left: 5px;
}

textarea.c-field {
	height: 80px;
}

::-webkit-input-placeholder {
   color: #939FA6;
   text-transform: uppercase;
   font-style: italic;
   font-size: 12px;
}

.c-page-title a, 
.c-page-title a:visited,
.c-page-title__label a, 
.c-page-title__label a:visited {
	color: white;
}

.c-page-title {
	margin: 10px;

	text-transform: uppercase;
	color: #FCFCFC;
	letter-spacing: 2px;
}

.c-page-title__label {
	font-size: 12px;
}

.c-page-title__location {
	font-weight: bold;
	font-size: 16px;
}

.c-back-header {
	display: flex;
	align-items: center;
	height: 100%;

	margin: 0 10px;
}

.c-icon-button {
	width: 36px;
	height: 36px;
}

.c-content {
	margin-top: 60px;
	margin-bottom: 50px;
}

header.c--transparent {
	background-color: transparent;
	box-shadow: none;
}

header.c--transparent + .c-content {
	margin-top: 0;
}

.c-meal-list {
	background-color: #EEEDE8;
}

.c-meal {
	background-color: white;
}

.c-meal + .c-meal {
	margin-top: 20px;
}

.c-meal__image-container {
	position: relative;

	height: 150px;

	/* Fallback for a missing image */
	background-color: #E37353; 

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.c-meal__icons {
	position: absolute;
	bottom: 0;
	right: 0;
}

.c-meal__icon {
	width: 40px;
	margin-bottom: 5px;
}

.c-meal__icon + .c-meal__icon {
	margin-left: 5px;
}

.c-meal__icon:last-child {
	margin-right: 10px;
}

.c-meal__content {
	padding: 20px;
}

.c-meal__title, .c-recipe__title {
	margin-top: -5px;
	margin-bottom: 5px;

	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	color: #335B60;
	letter-spacing: 2px;
}

.c-meal__quick-info {
	font-style: italic;
    font-size: 12px;
    text-transform: uppercase;
	color: #939FA6;
	letter-spacing: 2px;
}

.c-meal__description {
	font-size: 12px;
	color: #335B60;
	letter-spacing: 1px;
}

.c-meal__actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.c-meal__actions.c--dark {
	height: 50px;

	background-color: #335B60;
}

.c-meal__actions.c--dark .c-button-container {
	justify-content: flex-start;
	align-items: center;
}

.c-meal__detail-title {
	position: absolute;
	left: 20px;
	bottom: 20px;

	margin: 0;

	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	text-shadow: black 1px 1px 1px;
}

.c-recipe, .c-restaurant {
	background: white;
}

.c-recipe__title {
	white-space: nowrap;
}

/* TODO Make this less silly. This is so it only does it on saved */
.c--taupe .c-recipe + .c-recipe, .c--taupe .c-restaurant + .c-restaurant {
	margin-top: 20px;
}

.c-recipe__list-view {
	height: 80px;
	padding: 20px;

	border-bottom: 1px solid #939FA6;
}

.c-recipe__excerpt {
	font-size: 12px;
	font-style: italic;
	color: #939FA6;
	letter-spacing: 1px;
}

.c-recipe__content {
	padding: 20px;
}

.c-button-container {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;

	margin-left: 20px;
}

.c-button-container.c--right {
	justify-content: flex-end;
}

.c-button {
	padding: 10px;

	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	color: #E37453;
}

.c-button.c--light {
	color: #FCFCFC;
}

.c-button.c--light + .c-button.c--light {
	margin-left: 10px;
}

.c-button.c--primary {
	display: inline-block;
	padding: 10px 20px;

	background-color: #E37353;
	color: white;

	text-align: center;
	letter-spacing: 2px;
}

.c-button.c--secondary {
	display: inline-block;
	padding: 5px 10px;

	background-color: #335B60;
	color: #EEEDE8;

	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
}

.c-button.c--full {
	width: 100%;
}

.c--compressed {
	letter-spacing: 0px;
}

.c-overlay {
	display: none;
}

.c-overlay.c--active {
	position: fixed;
	top: 0px;
	bottom: 50px;
	left: 0px;
	right: 0px;

	display: block;

	background-color: rgba(35, 31, 32, 0.79);

	z-index: 1;
}

.c-sheet {
	display: none;
}

.c-sheet.c--active {
	position: fixed;
	bottom: 50px;
	left: 0px;
	right: 0px;

	display: block;
	background-color: white;
	padding: 20px;

	z-index: 2;
}

.c-blue-text {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: #939FA6;
}

.c-phrases-view {
	padding: 20px;
}

.c-checkbox-field {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

.c-checkbox-field [type=checkbox] {
	display: none;
}

.c-checkbox-icon {
	display: block;
	width: 25px;
	height: 30px;

	background-image: url("img/input_unchecked.png");
	background-size: cover;
}

[type=checkbox]:checked + .c-checkbox-icon {
	background-image: url("img/input_checked.png");
}

.c-checkbox-label {
	font-style: italic;
    font-size: 12px;
    text-transform: uppercase;
	color: #939FA6;
	letter-spacing: 2px;

	max-width: 80%;
}

.js-create-container {
	/*display: none;*/
}

.js-create-container.c--active {
	display: block;
}

.js-create-container.c--active + .js-phrases-list {
	display: none;
}

.c-phrase {
	padding: 20px;

	background-color: #EEEDE8;
	box-shadow: 4px 4px 5px rgba(35, 31, 32, 0.35);
}

.c-phrase:first-child {
	border: 2px solid #939FA6;
}

.c-phrase + .c-phrase {
	margin-top: 20px;
}

.c-phrase__title {
	font-size: 20px;
	font-weight: bold;
	color: #335B60;
}

.c-phrase__subtitle {
	margin-top: 10px;

	font-style: italic;
    font-size: 12px;
    text-transform: uppercase;
	color: #939FA6;
	letter-spacing: 2px;
}

.c-onboarding {
	position: fixed !important;
	top: 0;
	bottom: -5px;

	z-index: 1;
}

.c-onboarding .m-scooch-inner {
	height: 100%;
}

.c-onboarding .m-item {
	height: 100%;
	background-color: #fcf1f5;
	background-position-x: 50%;
	background-position-y: 130%;
	background-repeat: no-repeat;
}

.c-onboarding img {
	margin-top: 100%;
}

.c-onboarding__skip {
	position: absolute;
	bottom: 0px;

	display: block;
	width: 120px;
	height: 60px;
}

.c-welcome__wrapper {
	position: fixed;
    top: 0;
    bottom: 0;
    
    z-index: 1;
    
	padding: 20px;

    background-color: white;
}

.c-settings {
	padding: 20px;
}

.c-dietary-restriction__container {
	margin: 20px;

	text-align: center;
}

.c-dietary-restriction {
	text-align: center;
}

.c-dietary-restriction .t-grey {
	margin-top: -12px;
}

.c-map {
	position: relative;
}

.c-marker {
	position: absolute;
}

.c-marker__icon {
	display: block;
	margin: auto;
}

.c-search {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
}

.c-search .c-field {
	height: 60px;
}

.js-search-field {
	padding-left: 20px;
	padding-right: 45px;
}

.js-filter {
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 20px;
}

.c-filter {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;

    display: none;

    background: white;
    box-shadow: 0px 4px 7px rgba(35, 31, 32, 0.2);
}

.c-filter__overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.c-filter.c--active {
	display: block;
}

.c-select__input {
	opacity: 0;
}

.c-select__fake {
	margin-top: -20px;
}

.c-select__fake .c-icon {
	pointer-events: none;
}

.c-restaurant-meal-list__add {
	display: none;
}

.c-restaurant-meal-list__add.c--active {
	display: block;
}

.c-meal-title {
	margin: 20px 0;
}