.t-title {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	color: #335B60;
	letter-spacing: 2px;
}

.t-body {
	font-size: 12px;
	letter-spacing: 1px;
	color: #335B60;
}

.t-grey {
	font-style: italic;
    font-size: 12px;
	color: #939FA6;
	letter-spacing: 2px;
}

.t--upper {
	text-transform: uppercase;
}