.u-block {
	display: block;
}

.u-margin-top-sm-ng {
	margin-top: -5px;
}

.u-margin-top-sm {
	margin-top: 5px;
}

.u-margin-top-md {
	margin-top: 10px;
}

.u-margin-top-lg {
	margin-top: 20px;
}

.u-margin-top-xlg {
	margin-top: 40px;
}

.u-margin-bottom-md {
	margin-bottom: 10px;
}

.u-margin-left-md {
	margin-left: 10px;
}

.u-margin-left-lg {
	margin-left: 20px;
}

.u-text-center {
	text-align: center;
}

.u-max-full-width {
	max-width: 100%;
}

.u-full-padding {
	padding: 20px;
}

.u-half-padding {
	padding: 10px;
}

.c-arrange {
	display: flex;
}

.c-arrange.c--space-between {
	justify-content: space-between;
}

.c-arrange.c--center {
	align-items: center;
}

.c-arrange.c--right {
	justify-content: flex-end;
}
