.u-margin-top-sm {
	margin-top: 5px;
}

.u-margin-top-md {
	margin-top: 10px;
}

.u-margin-top-lg {
	margin-top: 20px;
}

.u-margin-bottom-md {
	margin-bottom: 10px;
}

.u-text-center {
	text-align: center;
}

.u-max-full-width {
	max-width: 100%;
}